.about-section{
    padding-bottom: 50px;
}
.about-title {
    margin-bottom: 32px;
}

.about-circle {
    width: 278px;
    height: 278px;
    margin-left: auto;
    margin-right: auto;
  
    background: linear-gradient(
        0deg,
        rgba(248, 210, 78, 0.7),
        rgba(248, 210, 78, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
    border-radius: 140px;
}
  .about-img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    border-radius: 50%;
    margin-top: -256px;
  }
  .about-text {
    width: 220px;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--main-font-family);
    @include font(12px, 400, 21px);
    text-align: center;
    letter-spacing: 0.04em;
  
    color: var(--contrast-color);
  }
  .text-two-pice {
    @include font(12px, 400, 19.5px);
    margin-bottom: 24px;
  }
  .about-btn {
    width: 164px;
    @include font(14px, 600, 18px);
    margin-left: 50%;
    transform: translateX(-50%);
  }