.about-section {
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
}
.about-title {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 80px;
  }
}

.about-content {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.about-circle {
  width: 279px;
  height: 278px;
  margin-left: auto;
  margin-right: auto;

  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);
  border-radius: 140px;

  @media screen and (min-width: 768px) {
    margin: 0;
    width: 330px;
    height: 330px;
    border-radius: 165px;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
    width: 490px;
    height: 490px;
    border-radius: 250px;
  }
}
.about-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  border-radius: 50%;
  margin-top: -256px;
  width: 279px;
  height: 278px;
  background-size: 100% 100%;

  background-image: url(../images/mobile/cow.jpg);
  background-repeat: no-repeat;
  @media only screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/cow@2x.jpg);
  }

  @media only screen and (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../images/mobile/cow@3x.jpg);
  }

  @media screen and (min-width: 768px) {
    margin: 0;
    margin-top: -304px;
    border-radius: 1228px;
    width: 330px;
    height: 330px;

    background-image: url(../images/tablet/cow.jpg);
    background-repeat: no-repeat;
    @media only screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/tablet/cow@2x.jpg);
    }

    @media only screen and (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/tablet/cow@3x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-top: -451px;
    border-radius: 1852.2px;
    width: 490px;
    height: 490px;

    background-image: url(../images/desktop/cow.jpg);
    background-repeat: no-repeat;
    @media only screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/desktop/cow@2x.jpg);
    }

    @media only screen and (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(../images/desktop/cow@3x.jpg);
    }
  }
}

.about-text-thumb {
  @media screen and (min-width: 768px) {
    padding-top: 8px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 90px;
  }
}

.about-text {
  width: 220px;
  margin-left: auto;
  margin-right: auto;

  font-family: var(--main-font-family);
  @include font(12px, 400, 21px);
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--contrast-color);

  @media screen and (min-width: 768px) {
    padding-bottom: 8px;
    @include font(12px, 400, 21px);
    text-align: left;
    margin-left: 38px;
    width: 336px;
  }

  @media screen and (min-width: 1200px) {
    padding-bottom: 8px;
    @include font(16px, 400, 28px);
    text-align: left;
    margin-left: 109px;
    width: 463px;
  }
}

.text-two-pice {
  @include font(12px, 400, 19.5px);
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
    @include font(12px, 400, 23px);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 54px;
    @include font(14px, 400, 27px);
  }
}
.about-btn {
  width: 164px;
  @include font(14px, 600, 18px);
  margin-left: 50%;
  transform: translateX(-50%);
}
