
.contacts-thumb{
  position: relative;
  top: -352px; 
}
.contacts-list {
  margin-bottom: 20px;
}
.contacts-list__item {
  display: block;
  border-radius: 24px;
  padding: 40px 32px 24px;
  margin-bottom: 24px;
 
  background-color: var(--contrast-color);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
}

.contacts-list__item > hr{
  margin-bottom: 24px;
}
.contacts-list__item:not(:last-child) {
  margin-bottom: 16px;
}

.contacts-representative {
  width: fit-content;
  background: var(--accent-color);
  border-radius: 4px;
  padding: 4px 22px;
  margin-bottom: 20px;

  font-family: var(--main-font-family);
  font-style: normal;
  @include font(12px,500,14px);
  text-transform: uppercase;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--text-color);
}


.contacts-title {
  margin-bottom: 8px;
  font-family: var(--main-font-family);
  font-style: normal;
  @include font(12px,500,22px);

  letter-spacing: 0.04em;

  color: var(--text-color);
}

.contacts-address{
  margin-bottom: 24px;
  font-family: var(--main-font-family);
  font-style: normal;
  @include font(12px,500,22px);

  letter-spacing: 0.04em;

  color: var(--milk-card-bg-color);
}

.days{
  font-family: var(--main-font-family);
  font-style: normal;
  @include font(12px,500,22px);

  color: var(--text-color);
}

.times{
  font-family: var(--main-font-family);
  font-style: normal;
  @include font(12px,500,22px);

  color: #ABABAB;
}

.communication{
  font-family: var(--main-font-family);
  font-style: normal;
  @include font(12px,500,19px);

  color: var(--text-color);
}

.contacts-btn{
  margin-left: 50%;
  transform: translateX(-50%);
}

.contacts-btn{
  @include font(12px, 600, 18px);
}

.contacts-btn.yellow-btn{
  margin-bottom: 16px;
  
  color: var(--text-color);
}
