.gallery-container {
  position: relative;
}

.gallery-thumb {
  position: absolute;
  left: 0;
  overflow: hidden;
  top: -32px;
  width: 100%;
  height: 130px;
  display: inline-block;

  @media screen and (min-width: 480px) {
    top: -50px;
    height: 204px;
  }

  @media screen and (min-width: 768px) {
    top: -144px;
    height: 327px;
  }

  @media screen and (min-width: 1200px) {
    top: -98px;
    height: 422px;
  }
}
.gallery-thumb__item {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery-img {
  border-radius: 8px;
  opacity: 0;
  object-fit: cover;
}

.gallery-img.active {
  opacity: 1;
  animation-name: animationImg;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  z-index: 666;
}

@keyframes animationImg {
  from {
    margin-left: 100%;
  }

  50% {
    margin-left: 0;
  }

  to {
    margin-left: -100%;
  }
}
