.gallery-thumb {
    position: absolute;
    left: 0;
    right: 0;
  }
  .gallery-img {
    position: relative;
    display: none;
    top: -36px;
    width: 280px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width:480px) {
        width: 440px;
        height: 204px;
    }

    @media screen and (min-width:768px) {
      top: -144px;
      width: 704px;
      height: 327px;
    }
  }

  .gallery-img.active {
    display: block;
    animation-name: animationImg;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }

  .gallery-img > img{    
    border-radius: 8px;
  }

  @keyframes animationImg {
    from {
      margin-left: 100%;
    }
  
    50%{
        margin-left: 0;
    }
  
    to {
        margin-left: -100%;
    }
  }

 
  