.header {
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    margin-bottom: 14px;    
  }
}
.navigation {
  @include flex(flex, space-between, center);
}

.menu-list{
  display: none;

  @media screen and (min-width:1200px) {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 28px;
  }
}

.menu-list__item:not(:last-child){
  margin-right: 28px;
}

.menu-list__link{
  font-family: var(--main-font-family);
  @include font(16px, 700, 20px);
  
  color: var(--contrast-color);

  &:hover{
    color:var(--accent-color);
  }

  &:focus{
    color: var(--accent-color);
  }

  &:disabled{
    color:var(--disable-color);
  }
}

.btn-thumb{
  display: flex;
}

.tablet-btn{
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
  }
}
