.header {
  padding-top: 12px;
  margin-bottom: 50px;
}
.navigation {
  @include flex(flex, space-between, center);

  /* display: none;
  @media screen and (min-width: 768px) {
    display: flex;
  } */
}
