.reviews {
  padding-top: 178px;
  padding-bottom: 412px;

  @media screen and (min-width:480px) {
    padding-bottom: 380px;
    padding-top: 284px;
  }
  
  @media screen and (min-width:1200px) {
    padding-bottom: 380px;
    padding-top: 464px;
  }
}


.reviews-circle {
  width: 85px;
  height: 85px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  background: #6e6e6e;
  border-radius: 44px;
  /* background-image: url("../../images/mobile/girl.jpg"); */
}
.review-box {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 32px;
  padding: 35px 39px;
  border-radius: 10px;
  background: var(--green-bg-color);

  @media screen and (min-width:768px) {
    width: 100%;
    padding: 28px 80px;
  }
}
.review-text {
  /* width: 202px; */
  margin-left: auto;
  margin-right: auto;
  color: var(--contrast-color);
  text-align: center;
  font-family: var(--main-font-family);
  @include font(12px, 400, 31px);

  @media screen and (min-width:768px) {
    @include font(14px, 500, 26px);
  }
}
.review-title {
  text-align: center;
  @include font(20px, 500, 37px);
  color: var(--text-color);
  font-family: var(--main-font-family);

  @media screen and (min-width:768px) {
    @include font(16px, 500, 30px);
  }
}
.review-nav {
  display: flex;
  justify-content: center;
}
