.button {
  width: 196px;
  height: 42px;
  border-radius: 10px;
}

.yellow-btn {
  background-color: #f8d24e;
}
.green-btn {
  border: 2px solid #f8d24e;
}
.hero-btn {
  width: 108px;
  height: 38px;
}
