.product-list__item:not(:last-child) {
  margin-bottom: 168px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 16px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 29px;
  }
}

.product-list__item:not(:last-child).item-modal {
  margin-bottom: 82px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    margin-right: 32px;
  }
}

.address-card {
  min-width: 280px;
  height: 412px;
  background: #fcfcfc;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
.product-card {
  position: relative;
  min-width: 280px;
  height: 420px;
  padding-top: 124px;
  border-radius: 24px;
  font-family: var(--main-font-family);
  color: var(--text-color);
  letter-spacing: 0.04em;

  @media screen and (min-width: 480px) {
    min-width: 320px;
    height: 428px;
  }

  @media screen and (min-width: 768px) {
    min-width: 224px;
    height: 548px;
    margin-bottom: 0;
  }

  @media screen and (min-width: 1200px) {
    min-width: 370px;
    height: 536px;
    margin-bottom: 0;
    padding-top: 165px;
  }
}

.product-card-modal {
  position: relative;
  width: 132px;
  height: 136px;
  padding-top: 96px;

  border-radius: 15px;
  font-family: var(--main-font-family);
  color: var(--text-color);
  letter-spacing: 0.04em;
}

.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.list-modal {
  margin-bottom: 30px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}
.milkshake {
  background-color: var(--milk-card-bg-color);
  margin-bottom: 0;
}

.milkshake-modal {
  border: 2px solid #d6936d;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
}
.ice-cream {
  background-color: var(--ice-cream-card-bg-color);
}
.ice-cream-modal {
  border: 2px solid #96af8c;
  filter: drop-shadow(0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
}
.ice-coffee {
  background-color: var(--coffee-card-bg-color);
}
.coffee-modal {
  border: 2px solid #efd478;
  box-shadow: 0px 5.26027px 19.726px rgba(212, 20, 67, 0.1);
}
.product-card__img {
  position: absolute;
  top: -108px;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translateX(-50%);
  border-radius: 100px;

  @media screen and (min-width: 1200px) {
    top: -183px;
    border-radius: 150px;
    width: 302px;
    height: 302px;
  }
}

.product-card__img.img1 {
  background-image: url(./images/mobile/ice-cream-ellips.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(./images/mobile/ice-cream-ellips@2x.jpg);
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(./images/mobile/ice-cream-ellips@3x.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: url(./images/desktop/product-img1.jpg);
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./images/desktop/product-img1@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(./images/desktop/product-img1@3x.jpg);
    }
  }
}

.product-card__img.img2 {
  background-image: url(./images/mobile/ice-coffee.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(./images/mobile/ice-coffee@2x.jpg);
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(./images/mobile/ice-coffee@3x.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../../images/desktop/product-img2.jpg);
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./images/desktop/product-img2@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(./images/desktop/product-img2@3x.jpg);
    }
  }
}

.product-card__img.img3 {
  background-image: url(./images/mobile/milkshake.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(./images/mobile/milkshake.jpg@2x.jpg);
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(./images/mobile/milkshake.jpg@3x.jpg);
  }
  @media screen and (min-width: 1200px) {
    background-image: url(./images/desktop/product-img3.jpg);
    background-repeat: no-repeat;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(./images/desktop/product-img3@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3),
      (min-resolution: 288dpi),
      (min-resolution: 3dppx) {
      background-image: url(./images/desktop/product-img3@3x.jpg);
    }
  }
}
.img-modal {
  position: absolute;
  top: -67px;
  left: 50%;
  border-radius: 98px;
  transform: translateX(-50%);
}
.circl {
  position: absolute;
  width: 200px;
  height: 200px;
  top: -98px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    top: -167px;
    border-radius: 150px;
  }
}

.circl-modal {
  position: absolute;
  width: 132px;
  height: 132px;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 98px;
}
.circl-ice-cream {
  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);
}
.circl-coffee {
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);
}
.circl-milkshake {
  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
}
.product-card__title {
  text-align: center;
  margin-bottom: 40px;
  @include font(20px, 700, 24px);
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    @include font(22px, 700, 27px);
    letter-spacing: 0.04em;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 66px;
    @include font(30px, 700, 37px);
    letter-spacing: 0.04em;
  }
}

.product-card__title.title-modal {
  @include font(16px, 700, 20px);
}
.product-card__text {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
  @include font(14px, 400, 25px);

  @media screen and (min-width: 1200px) {
    width: 242px;
    @include font(16px, 400, 28px);
  }
}
.product-card__arrow {
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
  bottom: 16px;

  @media screen and (min-width: 768px) {
    bottom: 12px;
  }

  @media screen and (min-width: 768px) {
    bottom: 60px;
  }
}
