@keyframes fadeImg {
  from {
    opacity: 0;
  }

  50%{
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}
.dots {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--dots-color);
}
.dots.active {
  background: var(--green-bg-color);
}
.dots:not(:last-child) {
  margin-right: 18px;
}
.gallery {
  display: none;
  /* padding-top: 176px; */
}
.gallery.active {
  display: block;
  margin-bottom: 12px;
  animation: fadeImg 0.9s;

  @media screen and (min-width:768px) {
    margin-bottom: 32px;
  }
}
