.title-first-line {
  font-family: var(--main-font-family);
  @include font(18px, 800, 22px);

  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-transform: uppercase;

  color: var(--text-color);
}
.title-second-line {
  font-family: var(--second-font-family);
  @include font(30px, 400, 38px);

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--text-color);
}
.title-odd {
  color: var(--contrast-color);
}

.one-word {
  margin: 0 60px;
}
