.container {
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  @media screen and (min-width: 480px) {
    width: 480px;
    padding: 0 100px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
    padding: 0 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding: 0 16px;
  }
}

.odd {
  background-color: var(--green-bg-color);
}

.even {
  background-image: url(../../images/mobile/фон.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../images/mobile/фон@2x.jpg);
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../../images/mobile/фон@3x.jpg);
    }
  
  @media screen and (min-width:1200px) {
    background-image: url(../../images/desktop/Backgroud_desktop.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../../images/desktop/Backgroud_desktop@2x.jpg);
  }
  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    background-image: url(../../images/desktop/Backgroud_desktop@3x.jpg);
    }
  }
}
.flex-container {
  @include flex(flex, space-between, center);
}
.flex-box {
  display: flex;
  align-items: baseline;
  margin-bottom: 20px;
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
