:root {
  --contrast-color: #fcfcfc;
  --green-bg-color: #84a178;
  --text-color: #131313;
  --accent-color: #f8d24e;
  --milk-card-bg-color: #d6936d;
  --ice-cream-card-bg-color: #aec6a5;
  --coffee-card-bg-color: #efd478;

  --main-font-family: Montserrat, sans-serif;
  --second-font-family: Seymour One, sans-serif;
}
