:root {
  --contrast-color: #fcfcfc;
  --green-bg-color: #84a178;
  --text-color: #131313;
  --accent-color: #f8d24e;

  --main-font-family: Montserrat, sans-serif;
  --second-font-family: Seymour One, sans-serif;
}
