:root {
  --contrast-color: #fcfcfc;
  --green-bg-color: #84a178;
  --menu-bg-color: #85a279;
  --text-color: #131313;
  --accent-color: #f8d24e;
  --milk-card-bg-color: #d6936d;
  --ice-cream-card-bg-color: #aec6a5;
  --coffee-card-bg-color: #efd478;
  --dots-color: #d9d9d9;
  --border-color: #9CBE8F;
  --hover-color:#0A8817;
  --hover-text-color:#000000;
  --disable-color:#ababab;


  --main-font-family: Montserrat, sans-serif;
  --second-font-family: Seymour One, sans-serif;
}
